/client/node_modules/
/server/node_modules/
/socket/node_modules/
/client/build/
/node_modules/
/client/.env/
/server/.env/
.env
/logs/
/client/Dockerfile
/client/package-lock.json
/client/package.json
/client/yarn.lock
/server/logs/
/server/Dockerfile
/server/package-lock.json
/server/package.json
/server/yarn.lock
docker-compose.yml
/server/index.js
node_modules
